dist/index.html
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./index.js"></script>
</head>

<body>
  <h3>WebSocket Test Unit</h3>
  <div>
    <input id="url" placeholder="url" />
  </div>
  <div><button id="submit" onclick="openWs()">Open WS</button></div>
  <div><textarea id="message"></textarea></div>
<div><button id="submit" onclick="send()">Send Msg</button></div>
</body>

</html>

views/index.jade
extends layout

block content
  script(src="./js/index.js")
  h1= title
  div
    input(id="url",placeholder="url", value="10.10.60.36")
  div
    button(id="submit", onclick="openWs()") Open WS
  div
    textarea(id="message")
  div
    button(id="submit", onclick="send()") Send
